In [29]:
# Dependencies
import pandas as pd

In [30]:
# CSV Path
csv_path = "../Resources/purchase_data.csv"
purchase_df = pd.read_csv(csv_path)

purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [31]:
# ### Player Count


# * Total Number of Players
player_df = purchase_df.groupby('SN')['Purchase ID'].unique()
player_df.head()
player_count = len(player_df)
# player_count = player_df["SN"].count()

# ### Purchasing Analysis (Total)

# * Number of Unique Items

items_df = purchase_df.groupby('Item ID')['SN'].unique()

games_count = len(items_df)

# * Average Purchase Price
purchase_df['Price'] = purchase_df['Price'].astype(float)

# avg_price = round(purchase_df["Price"].sum() / len(purchase_df),2)
avg_price = round(purchase_df["Price"].mean(),2)




# * Total Number of Purchases

purchase_count = purchase_df["Purchase ID"].count()


# * Total Revenue
total_revenue = purchase_df["Price"].sum() 
# player_count
player_df.head()
# player_count

SN
Adairialis76    [467]
Adastirin33     [142]
Aeda94          [388]
Aela59           [28]
Aelaria33       [630]
Name: Purchase ID, dtype: object

In [49]:
# ### Gender Demographics

# * Percentage and Count of Male Players


gender_unique_SN = purchase_df.drop_duplicates(subset=['SN'])
# gender_unique_SN.head()
df = gender_unique_SN.set_index("Gender")
df.head()

male_df = df.loc["Male"]
female_df = df.loc["Female"]
other_df = df.loc["Other / Non-Disclosed"]
other_df.head()

# male_count = gender_unique_SN['Gender'].count(level="Male")
# male_count
# gender_counts=gender_df["Gender"].value_counts()

count_male = len(male_df)
count_female = len(female_df)
count_other = len(other_df)

pct_male = round(count_male / len(df),2)
pct_female = round(count_female / len(df),2)
pct_other = round(count_other / len(df),2)


# * Percentage and Count of Female Players


# * Percentage and Count of Other / Non-Disclosed

0.02

In [57]:
# ### Purchasing Analysis (Gender)

gender_notunique = purchase_df.set_index("Gender")

male2_df = gender_notunique.loc["Male"]
female2_df = gender_notunique.loc["Female"]
other2_df = gender_notunique.loc["Other / Non-Disclosed"]
#   * Purchase Count
male_purchases = len(male2_df)
female_purchases = len(female2_df)
other_purchases = len(other2_df)


# male2_df.head()
#   * Average Purchase Price
avg_male_price = round(male2_df['Price'].mean(),2)

avg_female_price = round(female2_df['Price'].mean(),2)

avg_other_price = round(other2_df['Price'].mean(),2)


#   * Total Purchase Value
sum_male_purchases = male2_df['Price'].sum()

sum_female_purchases = female2_df['Price'].sum()
sum_other_purchases = other2_df['Price'].sum()

#   * Average Purchase Total per Person by Gender

avg_total_per_person_male = round(sum_male_purchases / count_male,2)
avg_total_per_person_female = round(sum_female_purchases / count_female,2)
avg_total_per_person_other = round(sum_other_purchases / count_other,2)

4.56

In [70]:
# ### Age Demographics
# * The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
bins = [0,4.9,9.9,14.9,19.9,24.9, 29.9,34.9,39.9,44.9, 49.9, 50]
group_names = ["0-4","5-9","10-14","15-19", "20-24", "25-29", "30-34","35-39","40-44","45-49","50+"]

purchase_df["Age Group"] = pd.cut(purchase_df["Age"], bins, labels=group_names, include_lowest=True)
purchase_df.head()


# agegroup_df = purchase_df.set_index("Age Group")
# agegroup_df.head()

#   * Purchase Count
age_group = purchase_df.groupby("Age Group")
age)group_count = age_group["Purchase ID"].count()

#   * Average Purchase Price
age_group["Purchase ID"].count()
#   * Total Purchase Value
#   * Average Purchase Total per Person by Age Group

Age Group
0-4        0
5-9       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40-44     12
45-49      1
50+        0
Name: Purchase ID, dtype: int64

In [ ]:
# ### Top Spenders

# * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#   * SN
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value

In [ ]:
# ### Most Popular Items

# * Identify the 5 most popular items by purchase count, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

In [ ]:
# ### Most Profitable Items
# * Identify the 5 most profitable items by total purchase value, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value